<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a-tamil</key>
	<string>a-tamil.glif</string>
	<key>aa-tamil</key>
	<string>aa-tamil.glif</string>
	<key>aaMatra-tamil</key>
	<string>aaM_atra-tamil.glif</string>
	<key>ai-tamil</key>
	<string>ai-tamil.glif</string>
	<key>aiMatra-tamil</key>
	<string>aiM_atra-tamil.glif</string>
	<key>asabove-tamil</key>
	<string>asabove-tamil.glif</string>
	<key>au-tamil</key>
	<string>au-tamil.glif</string>
	<key>auLength-tamil</key>
	<string>auL_ength-tamil.glif</string>
	<key>auMatra-tamil</key>
	<string>auM_atra-tamil.glif</string>
	<key>aytham-tamil</key>
	<string>aytham-tamil.glif</string>
	<key>ca-tamil</key>
	<string>ca-tamil.glif</string>
	<key>ca_uMatra-tamil</key>
	<string>ca_uM_atra-tamil.glif</string>
	<key>ca_uuMatra-tamil</key>
	<string>ca_uuM_atra-tamil.glif</string>
	<key>chaKeezhPaadi</key>
	<string>chaK_eezhP_aadi.glif</string>
	<key>chaKeezhPaadi.001</key>
	<string>chaK_eezhP_aadi.001.glif</string>
	<key>chaMelPaadi</key>
	<string>chaM_elP_aadi.glif</string>
	<key>changeTry</key>
	<string>changeT_ry.glif</string>
	<key>chinnaVattam</key>
	<string>chinnaV_attam.glif</string>
	<key>chinnaVattam.001</key>
	<string>chinnaV_attam.001.glif</string>
	<key>credit-tamil</key>
	<string>credit-tamil.glif</string>
	<key>day-tamil</key>
	<string>day-tamil.glif</string>
	<key>debit-tamil</key>
	<string>debit-tamil.glif</string>
	<key>e-tamil</key>
	<string>e-tamil.glif</string>
	<key>eMatra-tamil</key>
	<string>eM_atra-tamil.glif</string>
	<key>ee-tamil</key>
	<string>ee-tamil.glif</string>
	<key>eeMatra-tamil</key>
	<string>eeM_atra-tamil.glif</string>
	<key>eight-tamil</key>
	<string>eight-tamil.glif</string>
	<key>five-tamil</key>
	<string>five-tamil.glif</string>
	<key>four-tamil</key>
	<string>four-tamil.glif</string>
	<key>ha-tamil</key>
	<string>ha-tamil.glif</string>
	<key>i-tamil</key>
	<string>i-tamil.glif</string>
	<key>iMatra-tamil</key>
	<string>iM_atra-tamil.glif</string>
	<key>iMatra-tamil.001</key>
	<string>iM_atra-tamil.001.glif</string>
	<key>ii-tamil</key>
	<string>ii-tamil.glif</string>
	<key>iiMatra-tamil</key>
	<string>iiM_atra-tamil.glif</string>
	<key>iiMatra-tamil.001</key>
	<string>iiM_atra-tamil.001.glif</string>
	<key>ja-tamil</key>
	<string>ja-tamil.glif</string>
	<key>k_ssa-tamil</key>
	<string>k_ssa-tamil.glif</string>
	<key>ka-tamil</key>
	<string>ka-tamil.glif</string>
	<key>kaKeezhPaadi</key>
	<string>kaK_eezhP_aadi.glif</string>
	<key>kaKeezhPaadi.001</key>
	<string>kaK_eezhP_aadi.001.glif</string>
	<key>ka_uMatra-tamil</key>
	<string>ka_uM_atra-tamil.glif</string>
	<key>ka_uuMatra-tamil</key>
	<string>ka_uuM_atra-tamil.glif</string>
	<key>kokkiVattam</key>
	<string>kokkiV_attam.glif</string>
	<key>la-tamil</key>
	<string>la-tamil.glif</string>
	<key>la_iMatra-tamil</key>
	<string>la_iM_atra-tamil.glif</string>
	<key>la_iiMatra-tamil</key>
	<string>la_iiM_atra-tamil.glif</string>
	<key>la_uMatra-tamil</key>
	<string>la_uM_atra-tamil.glif</string>
	<key>lla-tamil</key>
	<string>lla-tamil.glif</string>
	<key>lla_uMatra-tamil</key>
	<string>lla_uM_atra-tamil.glif</string>
	<key>lla_uuMatra-tamil</key>
	<string>lla_uuM_atra-tamil.glif</string>
	<key>llla-tamil</key>
	<string>llla-tamil.glif</string>
	<key>llla_uMatra-tamil</key>
	<string>llla_uM_atra-tamil.glif</string>
	<key>llla_uuMatra-tamil</key>
	<string>llla_uuM_atra-tamil.glif</string>
	<key>ma-tamil</key>
	<string>ma-tamil.glif</string>
	<key>ma_uMatra-tamil</key>
	<string>ma_uM_atra-tamil.glif</string>
	<key>ma_uuMatra-tamil</key>
	<string>ma_uuM_atra-tamil.glif</string>
	<key>month-tamil</key>
	<string>month-tamil.glif</string>
	<key>na-tamil</key>
	<string>na-tamil.glif</string>
	<key>na_uMatra-tamil</key>
	<string>na_uM_atra-tamil.glif</string>
	<key>naduVattam</key>
	<string>naduV_attam.glif</string>
	<key>nga-tamil</key>
	<string>nga-tamil.glif</string>
	<key>nga-tamil.001</key>
	<string>nga-tamil.001.glif</string>
	<key>nga_uuMatra-tamil</key>
	<string>nga_uuM_atra-tamil.glif</string>
	<key>nine-tamil</key>
	<string>nine-tamil.glif</string>
	<key>nna-tamil</key>
	<string>nna-tamil.glif</string>
	<key>nnaPakkam</key>
	<string>nnaP_akkam.glif</string>
	<key>nnaPakkam.001</key>
	<string>nnaP_akkam.001.glif</string>
	<key>nna_uMatra-tamil</key>
	<string>nna_uM_atra-tamil.glif</string>
	<key>nnna-tamil</key>
	<string>nnna-tamil.glif</string>
	<key>nnna_uMatra-tamil</key>
	<string>nnna_uM_atra-tamil.glif</string>
	<key>number-tamil</key>
	<string>number-tamil.glif</string>
	<key>nya-tamil</key>
	<string>nya-tamil.glif</string>
	<key>nya_uMatra-tamil</key>
	<string>nya_uM_atra-tamil.glif</string>
	<key>o-tamil</key>
	<string>o-tamil.glif</string>
	<key>oMatra-tamil</key>
	<string>oM_atra-tamil.glif</string>
	<key>om-tamil</key>
	<string>om-tamil.glif</string>
	<key>one-tamil</key>
	<string>one-tamil.glif</string>
	<key>onehundred-tamil</key>
	<string>onehundred-tamil.glif</string>
	<key>onethousand-tamil</key>
	<string>onethousand-tamil.glif</string>
	<key>oo-tamil</key>
	<string>oo-tamil.glif</string>
	<key>ooMatra-tamil</key>
	<string>ooM_atra-tamil.glif</string>
	<key>pa-tamil</key>
	<string>pa-tamil.glif</string>
	<key>pa_uMatra-tamil</key>
	<string>pa_uM_atra-tamil.glif</string>
	<key>pa_uuMatra-tamil</key>
	<string>pa_uuM_atra-tamil.glif</string>
	<key>paadiVattam</key>
	<string>paadiV_attam.glif</string>
	<key>periyaVattam</key>
	<string>periyaV_attam.glif</string>
	<key>pulli-tamil</key>
	<string>pulli-tamil.glif</string>
	<key>ra-tamil</key>
	<string>ra-tamil.glif</string>
	<key>ra_uMatra-tamil</key>
	<string>ra_uM_atra-tamil.glif</string>
	<key>ra_uuMatra-tamil</key>
	<string>ra_uuM_atra-tamil.glif</string>
	<key>rra-tamil</key>
	<string>rra-tamil.glif</string>
	<key>rra_uMatra-tamil</key>
	<string>rra_uM_atra-tamil.glif</string>
	<key>rupee-tamil</key>
	<string>rupee-tamil.glif</string>
	<key>sa-tamil</key>
	<string>sa-tamil.glif</string>
	<key>sa_iMatra-tamil</key>
	<string>sa_iM_atra-tamil.glif</string>
	<key>sa_iiMatra-tamil</key>
	<string>sa_iiM_atra-tamil.glif</string>
	<key>seven-tamil</key>
	<string>seven-tamil.glif</string>
	<key>sh_ra_iiMatra-tamil</key>
	<string>sh_ra_iiM_atra-tamil.glif</string>
	<key>sha-tamil</key>
	<string>sha-tamil.glif</string>
	<key>six-tamil</key>
	<string>six-tamil.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>ssa-tamil</key>
	<string>ssa-tamil.glif</string>
	<key>ta-tamil</key>
	<string>ta-tamil.glif</string>
	<key>taKeezh</key>
	<string>taK_eezh.glif</string>
	<key>ta_uMatra-tamil</key>
	<string>ta_uM_atra-tamil.glif</string>
	<key>ten-tamil</key>
	<string>ten-tamil.glif</string>
	<key>three-tamil</key>
	<string>three-tamil.glif</string>
	<key>tta-tamil</key>
	<string>tta-tamil.glif</string>
	<key>tta_iMatra-tamil</key>
	<string>tta_iM_atra-tamil.glif</string>
	<key>tta_iiMatra-tamil</key>
	<string>tta_iiM_atra-tamil.glif</string>
	<key>tta_uMatra-tamil</key>
	<string>tta_uM_atra-tamil.glif</string>
	<key>tta_uuMatra-tamil</key>
	<string>tta_uuM_atra-tamil.glif</string>
	<key>two-tamil</key>
	<string>two-tamil.glif</string>
	<key>u-tamil</key>
	<string>u-tamil.glif</string>
	<key>uMatra-tamil</key>
	<string>uM_atra-tamil.glif</string>
	<key>uMatra-tamil.alt1</key>
	<string>uM_atra-tamil.alt1.glif</string>
	<key>uMatra-tamil.long</key>
	<string>uM_atra-tamil.long.glif</string>
	<key>uu-tamil</key>
	<string>uu-tamil.glif</string>
	<key>uuMatra-tamil</key>
	<string>uuM_atra-tamil.glif</string>
	<key>uuMatra-tamil.alt1</key>
	<string>uuM_atra-tamil.alt1.glif</string>
	<key>va-tamil</key>
	<string>va-tamil.glif</string>
	<key>va-tamil.001</key>
	<string>va-tamil.001.glif</string>
	<key>va_uMatra-tamil</key>
	<string>va_uM_atra-tamil.glif</string>
	<key>va_uuMatra-tamil</key>
	<string>va_uuM_atra-tamil.glif</string>
	<key>ya-tamil</key>
	<string>ya-tamil.glif</string>
	<key>ya_uMatra-tamil</key>
	<string>ya_uM_atra-tamil.glif</string>
	<key>ya_uuMatra-tamil</key>
	<string>ya_uuM_atra-tamil.glif</string>
	<key>year-tamil</key>
	<string>year-tamil.glif</string>
	<key>zero-tamil</key>
	<string>zero-tamil.glif</string>
</dict>
</plist>
