<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.DisplayStrings</key>
	<array>
		<string>/changeTry</string>
	</array>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.fontMaster.customParameters</key>
	<array>
		<dict>
			<key>name</key>
			<string>Filter</string>
			<key>value</key>
			<string>Noodler; 20; 1; 1</string>
		</dict>
	</array>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>831A5D7B-7350-4608-95DD-9715BE7B29F6</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>public.glyphOrder</key>
	<array>
		<string>ka_uMatra-tamil</string>
		<string>ka_uuMatra-tamil</string>
		<string>nga_uuMatra-tamil</string>
		<string>ca_uMatra-tamil</string>
		<string>ca_uuMatra-tamil</string>
		<string>nya_uMatra-tamil</string>
		<string>tta_iMatra-tamil</string>
		<string>tta_iiMatra-tamil</string>
		<string>tta_uMatra-tamil</string>
		<string>tta_uuMatra-tamil</string>
		<string>nna_uMatra-tamil</string>
		<string>ta_uMatra-tamil</string>
		<string>na_uMatra-tamil</string>
		<string>nnna_uMatra-tamil</string>
		<string>pa_uMatra-tamil</string>
		<string>pa_uuMatra-tamil</string>
		<string>ma_uMatra-tamil</string>
		<string>ma_uuMatra-tamil</string>
		<string>ya_uMatra-tamil</string>
		<string>ya_uuMatra-tamil</string>
		<string>ra_uMatra-tamil</string>
		<string>ra_uuMatra-tamil</string>
		<string>rra_uMatra-tamil</string>
		<string>la_iMatra-tamil</string>
		<string>la_iiMatra-tamil</string>
		<string>la_uMatra-tamil</string>
		<string>lla_uMatra-tamil</string>
		<string>lla_uuMatra-tamil</string>
		<string>llla_uMatra-tamil</string>
		<string>llla_uuMatra-tamil</string>
		<string>va_uMatra-tamil</string>
		<string>va_uuMatra-tamil</string>
		<string>sa_iMatra-tamil</string>
		<string>sa_iiMatra-tamil</string>
		<string>k_ssa-tamil</string>
		<string>sh_ra_iiMatra-tamil</string>
		<string>a-tamil</string>
		<string>aa-tamil</string>
		<string>i-tamil</string>
		<string>ii-tamil</string>
		<string>u-tamil</string>
		<string>uu-tamil</string>
		<string>e-tamil</string>
		<string>ee-tamil</string>
		<string>ai-tamil</string>
		<string>o-tamil</string>
		<string>oo-tamil</string>
		<string>au-tamil</string>
		<string>ka-tamil</string>
		<string>nga-tamil</string>
		<string>ca-tamil</string>
		<string>ja-tamil</string>
		<string>nya-tamil</string>
		<string>tta-tamil</string>
		<string>nna-tamil</string>
		<string>ta-tamil</string>
		<string>na-tamil</string>
		<string>nnna-tamil</string>
		<string>pa-tamil</string>
		<string>ma-tamil</string>
		<string>ya-tamil</string>
		<string>ra-tamil</string>
		<string>rra-tamil</string>
		<string>la-tamil</string>
		<string>lla-tamil</string>
		<string>llla-tamil</string>
		<string>va-tamil</string>
		<string>sha-tamil</string>
		<string>ssa-tamil</string>
		<string>sa-tamil</string>
		<string>ha-tamil</string>
		<string>om-tamil</string>
		<string>aytham-tamil</string>
		<string>nga-tamil.001</string>
		<string>va-tamil.001</string>
		<string>ten-tamil</string>
		<string>onehundred-tamil</string>
		<string>onethousand-tamil</string>
		<string>zero-tamil</string>
		<string>one-tamil</string>
		<string>two-tamil</string>
		<string>three-tamil</string>
		<string>four-tamil</string>
		<string>five-tamil</string>
		<string>six-tamil</string>
		<string>seven-tamil</string>
		<string>eight-tamil</string>
		<string>nine-tamil</string>
		<string>space</string>
		<string>day-tamil</string>
		<string>month-tamil</string>
		<string>year-tamil</string>
		<string>debit-tamil</string>
		<string>credit-tamil</string>
		<string>asabove-tamil</string>
		<string>number-tamil</string>
		<string>rupee-tamil</string>
		<string>iiMatra-tamil</string>
		<string>pulli-tamil</string>
		<string>iiMatra-tamil.001</string>
		<string>aaMatra-tamil</string>
		<string>iMatra-tamil</string>
		<string>uMatra-tamil</string>
		<string>uuMatra-tamil</string>
		<string>eMatra-tamil</string>
		<string>eeMatra-tamil</string>
		<string>aiMatra-tamil</string>
		<string>oMatra-tamil</string>
		<string>ooMatra-tamil</string>
		<string>auMatra-tamil</string>
		<string>auLength-tamil</string>
		<string>uMatra-tamil.alt1</string>
		<string>uuMatra-tamil.alt1</string>
		<string>uMatra-tamil.long</string>
		<string>iMatra-tamil.001</string>
		<string>changeTry</string>
		<string>chaKeezhPaadi</string>
		<string>chaMelPaadi</string>
		<string>chinnaVattam</string>
		<string>kaKeezhPaadi</string>
		<string>kokkiVattam</string>
		<string>naduVattam</string>
		<string>nnaPakkam</string>
		<string>paadiVattam</string>
		<string>periyaVattam</string>
		<string>taKeezh</string>
		<string>chaKeezhPaadi.001</string>
		<string>chinnaVattam.001</string>
		<string>kaKeezhPaadi.001</string>
		<string>nnaPakkam.001</string>
	</array>
	<key>public.postscriptNames</key>
	<dict>
		<key>a-tamil</key>
		<string>uni0B85</string>
		<key>aa-tamil</key>
		<string>uni0B86</string>
		<key>aaMatra-tamil</key>
		<string>uni0BBE</string>
		<key>ai-tamil</key>
		<string>uni0B90</string>
		<key>aiMatra-tamil</key>
		<string>uni0BC8</string>
		<key>asabove-tamil</key>
		<string>uni0BF8</string>
		<key>au-tamil</key>
		<string>uni0B94</string>
		<key>auLength-tamil</key>
		<string>uni0BD7</string>
		<key>auMatra-tamil</key>
		<string>uni0BCC</string>
		<key>aytham-tamil</key>
		<string>uni0B83</string>
		<key>ca-tamil</key>
		<string>uni0B9A</string>
		<key>ca_uMatra-tamil</key>
		<string>uni0B9A0BC1</string>
		<key>ca_uuMatra-tamil</key>
		<string>uni0B9A0BC2</string>
		<key>credit-tamil</key>
		<string>uni0BF7</string>
		<key>day-tamil</key>
		<string>uni0BF3</string>
		<key>debit-tamil</key>
		<string>uni0BF6</string>
		<key>e-tamil</key>
		<string>uni0B8E</string>
		<key>eMatra-tamil</key>
		<string>uni0BC6</string>
		<key>ee-tamil</key>
		<string>uni0B8F</string>
		<key>eeMatra-tamil</key>
		<string>uni0BC7</string>
		<key>eight-tamil</key>
		<string>uni0BEE</string>
		<key>five-tamil</key>
		<string>uni0BEB</string>
		<key>four-tamil</key>
		<string>uni0BEA</string>
		<key>ha-tamil</key>
		<string>uni0BB9</string>
		<key>i-tamil</key>
		<string>uni0B87</string>
		<key>iMatra-tamil</key>
		<string>uni0BBF</string>
		<key>iMatra-tamil.001</key>
		<string>uni0BBF.001</string>
		<key>ii-tamil</key>
		<string>uni0B88</string>
		<key>iiMatra-tamil</key>
		<string>uni0BC0</string>
		<key>iiMatra-tamil.001</key>
		<string>uni0BC0.001</string>
		<key>ja-tamil</key>
		<string>uni0B9C</string>
		<key>k_ssa-tamil</key>
		<string>uni0B950BCD0BB7</string>
		<key>ka-tamil</key>
		<string>uni0B95</string>
		<key>ka_uMatra-tamil</key>
		<string>uni0B950BC1</string>
		<key>ka_uuMatra-tamil</key>
		<string>uni0B950BC2</string>
		<key>la-tamil</key>
		<string>uni0BB2</string>
		<key>la_iMatra-tamil</key>
		<string>uni0BB20BBF</string>
		<key>la_iiMatra-tamil</key>
		<string>uni0BB20BC0</string>
		<key>la_uMatra-tamil</key>
		<string>uni0BB20BC1</string>
		<key>lla-tamil</key>
		<string>uni0BB3</string>
		<key>lla_uMatra-tamil</key>
		<string>uni0BB30BC1</string>
		<key>lla_uuMatra-tamil</key>
		<string>uni0BB30BC2</string>
		<key>llla-tamil</key>
		<string>uni0BB4</string>
		<key>llla_uMatra-tamil</key>
		<string>uni0BB40BC1</string>
		<key>llla_uuMatra-tamil</key>
		<string>uni0BB40BC2</string>
		<key>ma-tamil</key>
		<string>uni0BAE</string>
		<key>ma_uMatra-tamil</key>
		<string>uni0BAE0BC1</string>
		<key>ma_uuMatra-tamil</key>
		<string>uni0BAE0BC2</string>
		<key>month-tamil</key>
		<string>uni0BF4</string>
		<key>na-tamil</key>
		<string>uni0BA8</string>
		<key>na_uMatra-tamil</key>
		<string>uni0BA80BC1</string>
		<key>nga-tamil</key>
		<string>uni0B99</string>
		<key>nga-tamil.001</key>
		<string>uni0B99.001</string>
		<key>nga_uuMatra-tamil</key>
		<string>uni0B990BC2</string>
		<key>nine-tamil</key>
		<string>uni0BEF</string>
		<key>nna-tamil</key>
		<string>uni0BA3</string>
		<key>nna_uMatra-tamil</key>
		<string>uni0BA30BC1</string>
		<key>nnna-tamil</key>
		<string>uni0BA9</string>
		<key>nnna_uMatra-tamil</key>
		<string>uni0BA90BC1</string>
		<key>number-tamil</key>
		<string>uni0BFA</string>
		<key>nya-tamil</key>
		<string>uni0B9E</string>
		<key>nya_uMatra-tamil</key>
		<string>uni0B9E0BC1</string>
		<key>o-tamil</key>
		<string>uni0B92</string>
		<key>oMatra-tamil</key>
		<string>uni0BCA</string>
		<key>om-tamil</key>
		<string>uni0BD0</string>
		<key>one-tamil</key>
		<string>uni0BE7</string>
		<key>onehundred-tamil</key>
		<string>uni0BF1</string>
		<key>onethousand-tamil</key>
		<string>uni0BF2</string>
		<key>oo-tamil</key>
		<string>uni0B93</string>
		<key>ooMatra-tamil</key>
		<string>uni0BCB</string>
		<key>pa-tamil</key>
		<string>uni0BAA</string>
		<key>pa_uMatra-tamil</key>
		<string>uni0BAA0BC1</string>
		<key>pa_uuMatra-tamil</key>
		<string>uni0BAA0BC2</string>
		<key>pulli-tamil</key>
		<string>uni0BCD</string>
		<key>ra-tamil</key>
		<string>uni0BB0</string>
		<key>ra_uMatra-tamil</key>
		<string>uni0BB00BC1</string>
		<key>ra_uuMatra-tamil</key>
		<string>uni0BB00BC2</string>
		<key>rra-tamil</key>
		<string>uni0BB1</string>
		<key>rra_uMatra-tamil</key>
		<string>uni0BB10BC1</string>
		<key>rupee-tamil</key>
		<string>uni0BF9</string>
		<key>sa-tamil</key>
		<string>uni0BB8</string>
		<key>sa_iMatra-tamil</key>
		<string>uni0BB80BBF</string>
		<key>sa_iiMatra-tamil</key>
		<string>uni0BB80BC0</string>
		<key>seven-tamil</key>
		<string>uni0BED</string>
		<key>sh_ra_iiMatra-tamil</key>
		<string>uni0BB60BCD0BB00BC0</string>
		<key>sha-tamil</key>
		<string>uni0BB6</string>
		<key>six-tamil</key>
		<string>uni0BEC</string>
		<key>ssa-tamil</key>
		<string>uni0BB7</string>
		<key>ta-tamil</key>
		<string>uni0BA4</string>
		<key>ta_uMatra-tamil</key>
		<string>uni0BA40BC1</string>
		<key>ten-tamil</key>
		<string>uni0BF0</string>
		<key>three-tamil</key>
		<string>uni0BE9</string>
		<key>tta-tamil</key>
		<string>uni0B9F</string>
		<key>tta_iMatra-tamil</key>
		<string>uni0B9F0BBF</string>
		<key>tta_iiMatra-tamil</key>
		<string>uni0B9F0BC0</string>
		<key>tta_uMatra-tamil</key>
		<string>uni0B9F0BC1</string>
		<key>tta_uuMatra-tamil</key>
		<string>uni0B9F0BC2</string>
		<key>two-tamil</key>
		<string>uni0BE8</string>
		<key>u-tamil</key>
		<string>uni0B89</string>
		<key>uMatra-tamil</key>
		<string>uni0BC1</string>
		<key>uMatra-tamil.alt1</key>
		<string>uni0BC1.alt1</string>
		<key>uMatra-tamil.long</key>
		<string>uni0BC1.long</string>
		<key>uu-tamil</key>
		<string>uni0B8A</string>
		<key>uuMatra-tamil</key>
		<string>uni0BC2</string>
		<key>uuMatra-tamil.alt1</key>
		<string>uni0BC2.alt1</string>
		<key>va-tamil</key>
		<string>uni0BB5</string>
		<key>va-tamil.001</key>
		<string>uni0BB5.001</string>
		<key>va_uMatra-tamil</key>
		<string>uni0BB50BC1</string>
		<key>va_uuMatra-tamil</key>
		<string>uni0BB50BC2</string>
		<key>ya-tamil</key>
		<string>uni0BAF</string>
		<key>ya_uMatra-tamil</key>
		<string>uni0BAF0BC1</string>
		<key>ya_uuMatra-tamil</key>
		<string>uni0BAF0BC2</string>
		<key>year-tamil</key>
		<string>uni0BF5</string>
		<key>zero-tamil</key>
		<string>uni0BE6</string>
	</dict>
</dict>
</plist>
